.Family-title {
  text-align: center;
  font-size: 54px;
}
.familyImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.family-message-container {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  margin-top: 2rem;
}
.family-message-title {
  text-align: center;
}
.family-message-content {
  padding-right: 5rem;
}
.family-message-button {
  background-color: #ffbc0d;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .familyImage {
    width: 100%;
  }
  .family-message-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .family-message-content {
    padding-right: 0rem;
    text-align: center;
  }
  .family-message-button {
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }
}
