.menu-title {
  text-align: center;
  font-size: 60px;
  font-family: speedee;

  font-weight: bolder;

  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.menu-options {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: speedee;
  margin: 1.25rem 0rem;
}
