.Promotions-title {
  font-size: 54px;
  margin-left: 2.5rem;
}
.deals-outer-container {
  display: flex;
  width: 100%;

  box-sizing: border-box;
}
.deals-inner-container {
  display: flex;
  align-items: center;
}
.promo-container {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  text-align: center;
  flex: 1;
  padding: 0;
  margin: 1rem;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.promo-content {
  margin: 0rem 2rem;
}
.promo-content button {
  background-color: #ffbc0d;
  border-radius: 5px;
  padding: 1rem 2rem;
}
